    h1{
         word-spacing: 10px;
         text-shadow: 5px 5px 6px red;
        }
        
    h2{
         word-spacing: -5px;
    }
    p.serif{
        font-family: 'Times New Roman', Times, serif;
    }
    p.sansserif{
        font-family: Arial, Helvetica, sans-serif;
    }
       
    p.oblique{
        font-style: oblique;
    }
    p.italic{
        font-style: italic;
    }
    p.negrita{
        font-weight:bold ;
    }
    p.small{
        font-variant: small-caps;
    }
    p{
        font-family: 'Zen Loop', cursive;
    }