h1 {
    word-spacing: 10px;
    text-shadow: 5px 5px 10px rgb(34, 1, 133);
    font-size: 5vw;
}
h2 {
    word-spacing: 10px;
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
    font-size: 5vw;
}
p{
    font-family: 'Montserrat', sans-serif;
}
p.serif {
    font-family: 'Times New Roman', Times, serif;
}
p.sansserif {
    font-family:Arial, Helvetica, sans-serif;
}
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}
p.little {
    font-size: 1em;
}
p.negrita {
    font-weight:bold;
}
p.small{
    font-variant: small-caps;
}
.middle > * {
    vertical-align:middle;
}
.top > * {
    vertical-align: top;
}
.bottom > * {
    vertical-align: bottom;
}
.baseline > * {
    vertical-align:baseline;
}
h3 {
    word-spacing: 10px;
    text-shadow: 5px 5px 10px rgb(165, 0, 220);
    font-size: 5vw;

}
div {
    margin: 0 0 30px 0;
    padding: 10px;
}